<!DOCTYPE html>
<html>
<head>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{.page.Title}}</title>
    <meta name="description" content="{{.page.Description}}">
    <meta name="keywords" content="{{.page.Keywords}}">
    <meta name="author" content="{{.page.Author}}">

    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //for-mobile-apps -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- js -->
    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="../static/js/move-top.js"></script>
    <script type="text/javascript" src="../static/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- start menu -->
    <link href="../static/css/megamenu.css" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="../static/js/megamenu.js"></script>
    <script>$(document).ready(function () {
        $(".megamenu").megamenu();
    });</script>
    <!--<script src="../static/js/menu_jquery.js"></script>-->
    <script src="../static/js/simpleCart.min.js"></script>
    <!--<link href='http://fonts.useso.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>-->
</head>

<body>
<!-- header -->

<!-- //header -->
<!-- top-header -->
<div class="top_bg">
    <div class="container">
        <div class="header_top-sec">
            <div class="top_right">
                <ul>
                    <li><a href="contact.html">联系我们</a></li>
                    |
                    <li><a href="login.html">登录</a></li>
                </ul>
            </div>
            <div class="top_left">
                <ul>
                    <li class="top_link">服务热线:13164722885(韦生)</li>
                    |
                    <li class="top_link"><a href="login.html">个人中心</a></li>
                    <li class="top_link"><a href="/admin">管理后台</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- top-header -->
<!-- logo-cart -->
<div class="header_top">
    <div class="container">
        <div class="logo">
            <a href="index.html">my go cms website</a>
        </div>
        <div class="header_right">
            <div class="cart box_1">
                <a href="checkout.html">
                    <h3>
                        <div class="total">
                            <span class="simpleCart_total"></span> (<span id="simpleCart_quantity"
                                                                          class="simpleCart_quantity"></span> items)
                        </div>
                        <img src="../static/images/cart1.png" alt=""/></h3>
                </a>
                <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //logo-cart -->
<!------>
<div class="mega_nav">
    <div class="container">
        <div class="menu_sec">
            <!-- start header menu -->
            <ul class="megamenu skyblue">
                <li class="active grid"><a class="color1" href="/">首页</a></li>
                <li class="grid"><a class="color1" href="#">关于我们</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>1.公司介绍</h4>
                                    <ul>
                                        <li><a href="/article/getarticledetail?id=1">1.1.企业简介</a></li>
                                        <li><a href="/article/getarticledetail?id=2">1.2.团队介绍</a></li>
                                        <li><a href="/article/getarticledetail?id=3">1.3.企业理念</a></li>
                                        <li><a href="/article/getarticledetail?id=4">1.4.成长历程</a></li>
                                        <li><a href="/article/getarticledetail?id=5">1.5.组织结构</a></li>
                                        <li><a href="/article/getarticledetail?id=6">1.6.售后服务</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>2.业务范围</h4>
                                    <ul>
                                        <li><a href="/article/getarticledetail?id=7">2.1.快走丝</a></li>
                                        <li><a href="/article/getarticledetail?id=8">2.2.中走丝</a></li>
                                        <li><a href="/article/getarticledetail?id=9">2.3.慢走丝</a></li>
                                        <li><a href="/article/getarticledetail?id=10">2.4.模具设计</a></li>
                                        <li><a href="/article/getarticledetail?id=11">2.5.钣金设计</a></li>
                                        <li><a href="/article/getarticledetail?id=12">2.6.五金冲压</a></li>
                                    </ul>

                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>3.服务流程</h4>
                                    <ul>
                                        <li><a href="/article/getarticledetail?id=13">3.1.业务洽谈</a></li>
                                        <li><a href="/article/getarticledetail?id=14">3.2.施工方案</a></li>
                                        <li><a href="/article/getarticledetail?id=15">3.3.上门提货</a></li>
                                        <li><a href="/article/getarticledetail?id=16">3.4.确认方案</a></li>
                                        <li><a href="/article/getarticledetail?id=17">3.5.施工切割</a></li>
                                        <li><a href="/article/getarticledetail?id=18">3.6.送货上门</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>4.联系我们</h4>
                                    <ul>
                                        <li><a href="/article/getarticledetail?id=19">4.1.公司地址</a></li>
                                        <li><a href="/article/getarticledetail?id=20">4.2.商务合作</a></li>
                                        <li><a href="/article/getarticledetail?id=21">4.3.施工洽谈</a></li>
                                        <li><a href="/article/getarticledetail?id=22">4.4.售后沟通</a></li>
                                        <li><a href="/article/getarticledetail?id=23">4.5.服务总线</a></li>
                                        <li><a href="/article/getarticledetail?id=24">4.6.加入我们</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                    </div>
                </li>
                <li><a class="color1" href="/news/getnewslist">资讯公告</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>公司资讯</h4>
                                    <ul>
                                        <li><a href="/news/getnewslistbytypeid?typeid=1">公司资讯</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>客户公告</h4>
                                    <ul>
                                        <li><a href="/news/getnewslistbytypeid?typeid=2">客户公告</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>行业资讯</h4>
                                    <ul>
                                        <li><a href="/news/getnewslistbytypeid?typeid=3">行业资讯</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>技术资讯</h4>
                                    <ul>
                                        <li><a href="/news/getnewslistbytypeid?typeid=5">设备资讯</a></li>
                                        <li><a href="/news/getnewslistbytypeid?typeid=6"></a>技术资讯</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                    </div>
                </li>
                <li><a class="color1" href="/product/getlist">客户案例</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>高精密五金模</h4>
                                    <ul>
                                        <li><a href="/product/getlist">高精密端子模</a></li>
                                        <li><a href="/product/getlist">五金模零件</a></li>
                                        <li><a href="/product/getlist">五金模产品</a></li>
                                        <li><a href="/product/getlist">非标齿轮</a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>塑胶模具</h4>
                                    <ul>
                                        <li><a href="/product/getlist">塑模组装模具</a></li>
                                        <li><a href="/product/getlist">塑胶模零件</a></li>
                                        <li><a href="/product/getlist">塑胶模产品</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>钣金</h4>
                                    <ul>
                                        <li><a href="/product/getlist">钣金机箱</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>其他</h4>
                                    <ul>
                                        <li><a href="/product/getlist">广告机外壳</a></li>
                                        <li><a href="/product/getlist">拉铝型材加工</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                    </div>
                </li>
                <li><a class="color1" href="#">业务合作</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>线切割</h4>
                                    <ul>
                                        <li><a href="products.html">快走丝</a></li>
                                        <li><a href="products.html">中走丝</a></li>
                                        <li><a href="products.html">慢走丝</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>五金冲压</h4>
                                    <ul>
                                        <li><a href="products.html">五金冲压</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>专业设计</h4>
                                    <ul>
                                        <li><a href="products.html">模具设计</a></li>
                                        <li><a href="products.html">钣金设计</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>其他业务</h4>
                                    <ul>
                                        <li><a href="products.html">广告机外壳</a></li>
                                        <li><a href="products.html">拉铝型材加工</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                    </div>
                </li>
                <li><a class="color1" href="#">生产中心</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>工作环境</h4>
                                    <ul>
                                        <li><a href="products.html">生产车间</a></li>
                                        <li><a href="products.html">技术团队</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>生产设备</h4>
                                    <ul>
                                        <li><a href="products.html">线切割机床</a></li>
                                        <li><a href="products.html">冲压机床</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>编程中心</h4>
                                    <ul>
                                        <li><a href="products.html">CAD编程</a></li>
                                        <li><a href="products.html">模具设计</a></li>
                                        <li><a href="products.html">钣金设计</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>检测设备</h4>
                                    <ul>
                                        <li><a href="products.html">检测仪</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                <li><a class="color1" href="#">人才招聘</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col6">
                                <div class="h_nav">
                                    <h4>欢迎加入我们</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="search">
                <form>
                    <input type="text" value="" placeholder="Search...">
                    <input type="submit" value="">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!---->