
<!--<div class="copyrights">Collect from <a href="http://www.cssmoban.com/">手机网站模板</a></div>-->
<!-- banner -->
<div class="banner">
    <div class="container">
        <!-- Slider-starts-Here -->
        <script src="/static/js/responsiveslides.min.js"></script>
        <script>
            // You can also use "$(window).load(function() {"
            $(function () {
                // Slideshow 4
                $("#slider3").responsiveSlides({
                    auto: true,
                    pager: false,
                    nav: true,
                    speed: 500,
                    namespace: "callbacks",
                    before: function () {
                        $('.events').append("<li>before event fired.</li>");
                    },
                    after: function () {
                        $('.events').append("<li>after event fired.</li>");
                    }
                });

            });
        </script>
        <!--//End-slider-script -->
        <div id="top" class="callbacks_container">
            <ul class="rslides" id="slider3">
                <li>
                    <div class="banner-info">
                        <div class="banner-info1">
                            <div class="banner-inf">
                                <h1>maiores alias consequatur aut perferendis</h1>
                                <p>Itaque earum rerum hic tenetur a sapiente delectus,
                                    ut aut reiciendis voluptatibus maiores alias consequatur
                                    aut perferendis doloribus asperiores repellat.</p>
                                <div class="buy">
                                    <a href="productDetail.html">Explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="banner-info">
                        <div class="banner-info1">
                            <div class="banner-inf">
                                <h1>asperiores alias consequatur aut perferendis</h1>
                                <p>Alias earum rerum hic tenetur a sapiente delectus,
                                    ut aut reiciendis voluptatibus maiores alias consequatur
                                    aut perferendis doloribus asperiores repellat.</p>
                                <div class="buy">
                                    <a href="productDetail.html">Explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="banner-info">
                        <div class="banner-info1">
                            <div class="banner-inf">
                                <h1>doloribus alias consequatur aut perferendis</h1>
                                <p>Repellat earum rerum hic tenetur a sapiente delectus,
                                    ut aut reiciendis voluptatibus maiores alias consequatur
                                    aut perferendis doloribus asperiores repellat.</p>
                                <div class="buy">
                                    <a href="productDetail.html">Explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- //banner -->


<!-- banner2 -->
<div class="banner">
    <div class="container">
        <div id="top" class="callbacks_container">
            <!-- Panels -->
            <div class="row">
                <div class="col-sm-6">
                    <!-- Panel default -->
                    <div class="panel panel-default">
                        <div class="panel-heading">公司新闻</div>
                        <div class="panel-body">
                            <table border="0px" width="100%">
                                {{ range .companyNews}}

                                <tr>
                                    <td><a href="/news/getnewsdetail?id={{.Id}}">{{.Title}}</a></td><td align="right">{{.AddTime}}</td>
                                </tr>

                                {{end}}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- Panel red -->
                    <div class="panel panel-default">
                        <div class="panel-heading">客户公告</div>
                        <div class="panel-body">
                            <table border="0px" width="100%">
                                {{ range .customerNews}}
                                <tr>
                                    <td><a href="/news/getnewsdetail?id={{.Id}}">{{.Title}}</a></td><td align="right">{{.AddTime}}</td>
                                </tr>
                                {{end}}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <!-- Panel default -->
                    <div class="panel panel-default">
                        <div class="panel-heading">行业新闻</div>
                        <div class="panel-body">
                            <table border="0px" width="100%">
                                {{ range .industryNews}}
                                <tr>
                                    <td><a href="/news/getnewsdetail?id={{.Id}}">{{.Title}}</a></td><td align="right">{{.AddTime}}</td>
                                </tr>
                                {{end}}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- Panel red -->
                    <div class="panel panel-default">
                        <div class="panel-heading">技术资讯</div>
                        <div class="panel-body">
                            <table border="0px" width="100%">
                                {{ range .technologyNews}}
                                <tr>
                                    <td><a href="/news/getnewsdetail?id={{.Id}}">{{.Title}}</a></td><td align="right">{{.AddTime}}</td>
                                </tr>
                                {{end}}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--Panels-->
        </div>
    </div>
</div>
<!-- //banner2 -->


<!-- cate -->
<div class="cate">
    <div class="container">
        <div class="callbacks_container">
        <div class="cate-left">
            <h3>客户案例<span>最新展示</span></h3>
        </div>
        <div class="cate-right">
            <!-- slider -->
            <ul id="flexiselDemo1">
                <li>
                    <div class="sliderfig-grid">
                        <img src="../static/images/a.jpg" alt=" " class="img-responsive"/>
                    </div>
                </li>
                <li>
                    <div class="sliderfig-grid">
                        <img src="../static/images/b.jpg" alt=" " class="img-responsive"/>
                    </div>
                </li>
                <li>
                    <div class="sliderfig-grid">
                        <img src="../static/images/c.jpg" alt=" " class="img-responsive"/>
                    </div>
                </li>
                <li>
                    <div class="sliderfig-grid">
                        <img src="../static/images/d.jpg" alt=" " class="img-responsive"/>
                    </div>
                </li>
            </ul>
            <script type="text/javascript">
                $(window).load(function () {
                    $("#flexiselDemo1").flexisel({
                        visibleItems: 4,
                        animationSpeed: 1000,
                        autoPlay: true,
                        autoPlaySpeed: 3000,
                        pauseOnHover: true,
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint: 480,
                                visibleItems: 3
                            },
                            landscape: {
                                changePoint: 640,
                                visibleItems: 4
                            },
                            tablet: {
                                changePoint: 768,
                                visibleItems: 3
                            }
                        }
                    });

                });
            </script>
            <script type="text/javascript" src="../static/js/jquery.flexisel.js"></script>
        </div>
        <!-- //slider -->
        <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //cate -->
